@use "sass:map";
@use "sass:math";
@use "shapes" as *;
@use "media" as *;
@use "modifiers" as *;

@import "./contact-form.colors";

// TODO: Use direct properties when shorthand not required (background, margin)

$half-input-margin: 1em;
$textarea-height: 10em;
/* stylelint-disable-next-line unit-allowed-list -- Variable used as a fix for textarea pseudo elements overshooting in webkit engines */
$textarea-label-height-fix: 4px;
$input-element-padding: 1em;

@mixin form-element {
  /* stylelint-disable-next-line unit-allowed-list -- borders can be pixel-sized */
	border: 1px solid map.get($theme, "accent", "hex");
	color: map.get($theme, "accent", "invert", "hex");
	transition: background-color 0.5s;

	@include no-bg;
	@include if-supported("backdrop-filter", blur(0.5em));
	@include layer(lighten);

	&:focus {
		background-color: map.get($theme, "background", "dark-5%", "hex");
	}
}

:host > form#contact-form > ul {
	@include reset-offsets;

	& > li {
		position: relative;
		margin-bottom: 1em;

		@include no-overflow;

		&.half {
			margin-left: $half-input-margin;
			width: calc(50% - #{math.div($half-input-margin, 2)});
			float: left;

			&:first-child {
				margin-left: 0;
			}
		}

		&:not(.half) {
			@include clear-fix;
		}

		& > .input-field {
			box-sizing: border-box;
			padding: $input-element-padding;
			width: 100%;
			height: 3em;
      /* stylelint-disable-next-line unit-allowed-list -- font-size must be pixel-sized */
			font-size: 16px;

			@include form-element;

			@at-root #{selector-replace(&, ".input-field", "input.input-field")}:not([ type=submit ]) {
				padding: 0 $input-element-padding;
			}

			@at-root #{selector-replace(&, ".input-field", "textarea.input-field")} {
				height: $textarea-height;

				& + .input-label:after {
					height: calc(#{$textarea-height + (2 * $input-element-padding)} + #{$textarea-label-height-fix});
				}
			}

			@at-root #{selector-replace(&, ".input-field", "input.input-field")}[ type=submit ] {
				padding: 0.5em 2em;
				font-size: 0.85em;
				letter-spacing: 0.2em;

				&:hover + .input-label:after {
					transform: translateX(0);
				}
			}

      &:after {
				transform: translateX(-100%);
				background-color: map.get($theme, "background", "invert", "hex");
				transition: transform 0.3s;

				@include absolute-top-left;
				@include full-perc-size;
				@include content-fix;
				@include pointer-disable;
				@include layer(exclusion);
			}

			&:focus + .input-label:after {
				transform: translateX(0);
			}
		}
	}
}
