<app-header alt="passeriform" logo="/assets/images/icons/passeriform.svg" target="/">
  <app-navtab>
    <a *appNavLink routerLink="/explore">Work</a>
    <a *appNavLink href="https://passeribird.blogspot.com/" target="_blank">Blog</a>
    <a *appNavLink routerLink="/about">About</a>
  </app-navtab>
</app-header>

<app-scrollable [collapsed]="true" [fullpage]="true" [injectSplash]="true">
  <ng-container *ngIf="selectedWork != null; else modelLoading">
    <div class="page" id="description" #page>
      <div class="bg-img"></div>
      <div id="content">
        <app-describe [model]="selectedWork">
        </app-describe>
      </div>
    </div>
    <div class="page" id="stats" #page>
      <div class="bg-img"></div>
      <!-- <app-stats [model]="activeWork">
      </app-stats> -->
    </div>
    <div class="page" id="stack" #page>
      <div class="bg-img"></div>
      <app-tech-stack [model]="selectedWork | retain: 'languages':'frameworks':'tools'">
      </app-tech-stack>
    </div>
    <div id="future" class="page" #page>
      <div class="bg-img"></div>
      <!-- <app-timeline [model]="activeWork">
      </app-timeline> -->
    </div>
  </ng-container>

  <ng-template #modelLoading>
    <div id="selected-placeholder">
      <div class="bg-img"></div>
      <div id="placeholder-content">
        <h1>
          <span>P</span>roject
          <br />
          <span>E</span>xplorer.
        </h1>
        <p>Start by clicking the top-right corner.</p>
      </div>
    </div>
  </ng-template>

</app-scrollable>

<app-overlay>
  <app-showcase [preloadMarker]="marker"></app-showcase>
</app-overlay>
