@import 'vars'
@import './header.colors'

:host
  position: absolute
  top: 0
  left: 0
  width: 100vw

#header-wrapper
  height: $header-size
  display: -webkit-flexbox
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

  #logo
    width: $logo-size
    height: $logo-size
    display: -webkit-flexbox
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    align-items: flex-start
    justify-content: flex-start

    & > a
      display: flex
      width: $logo-size
      height: $logo-size
      align-items: center
      justify-content: center
      -webkit-transition: all 0.5s ease
      -moz-transition: all 0.5s ease
      -o-transition: all 0.5s ease
      transition: all 0.5s ease

      & > img
        width: $logo-img-size
        height: $logo-img-size
        filter: invert(1)
        -webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        transition: all 0.5s ease

  &.shrink-header
    height: $shrink-header-size
    background-color: map-deep-get($theme, "background", "dark-5%", "hex")

    & #logo
      width: $shrink-logo-block-size
      height: $shrink-logo-block-size

      & > a
        display: block
        position: absolute
        width: $logo-flap-size
        height: $logo-flap-size
        top: 0
        left: 0
        clip-path: polygon(0 0, 0% 100%, 100% 0%)
        background-color: map-deep-get($theme, "accent", "hex")

        & > img
          width: $shrink-header-size
          height: $shrink-header-size
          display: block
          position: absolute
          top: 1em
          left: 0
          filter: invert(0)
