<div id="footer-content">
  <div id="brand">
    <div>
      <img i18n-alt alt="logo" src="/assets/images/icons/passeriform.svg" />
      <p>PASSERIFORM</p>
    </div>
    <app-social-glyphs *ngIf="socialEntries$ | async as socialEntries" [color]="'#EEEEEE'" [model]="socialEntries"></app-social-glyphs>
    <div>
      <small>&copy; Copyright 2021, Passeriform</small>
    </div>
  </div>
  <div id="brand-separator"></div>
  <div id="links">
    <div class="section" id="navigator">
      <h3>NAVIGATE</h3>
      <div>
        <a *ngFor="let work of workEntries$ | async" class="quick-links" routerLink="{{ work.route }}">{{ work.title }}</a>
        <div id="navigation-separator"></div>
        <a routerLink="/explore">Explore</a>
        <a routerLink="/trickle">Trickle Explore</a>
        <a (mousedown)="popupSitemap()" (keydown)="popupSitemap()">Sitemap</a>
      </div>
    </div>
    <div class="section" id="about">
      <h3>ABOUT US</h3>
      <div>
        <a *ngFor="let entity of aboutEntries$ | async" routerLink="{{ entity.route }}">{{ entity.title }}</a>
      </div>
    </div>
    <div class="section" id="legal">
      <h3>MORE</h3>
      <div>
        <a routerLink="tos">Terms of Service</a>
        <a routerLink="privacy">Privacy Policy</a>
        <a routerLink="personalization-privacy">Data Collection</a>
      </div>
    </div>
    <div class="section" id="personality">
      <h3>ABOUT YOU</h3>
      <div>
        <a (mousedown)="popupPersonalitySelector()">Personalize</a>
      </div>
    </div>
  </div>
</div>
<div id="post-note">
  <h3>Made by&nbsp;
    <app-chirpy>
			<img i18n-alt alt="🐦" id="chirpy-icon" src="/assets/images/icons/passeriform.svg" />
    </app-chirpy>
  </h3>
</div>
