@use "sass:map";
@use "colors" as *;
@use "global" as *;
@use "media" as *;
@use "separator" as *;
@use "stack" as *;
@use "modifiers" as *;

$theme: get-theme("footer");
$tablet-breakpoint: 63rem;
$mobile-breakpoint: 42em;

@mixin linear {
	& > #footer-content {
		padding: 2rem 0;
		height: 28em;

		@include flex-row-evenly;

		& > #brand {
			margin: 0 2rem;
		}

		& > #brand-separator {
			@include separator-vertical;
		}

		& > #links {
			margin: 0 1rem;

			@include flex-row-around;

			@include override-modifiers {
				align-items: flex-start;
			}

			& > .section {
				margin: 0 1rem;
			}
		}
	}
}

@mixin linear-tablet {
	@include full-perc-size;

	& > #footer-content {
		flex-grow: 1;
		padding: 2rem 0;
		padding-top: calc(2rem + var(--current-header-shift-offset, #{$shrink-header-size-em}));
		height: unset;
		overflow: hidden auto;

		@include flex-row-evenly;

		@include override-modifiers {
			flex-wrap: nowrap;
		}

		& > #brand {
			margin: 0 2rem;
		}

		& > #brand-separator {
			@include separator-vertical;
		}

		& > #links {
			margin: 0 1rem;

			@include flex-row-between;

			@include override-modifiers {
				align-items: flex-start;
			}

			& > .section {
				margin: 1rem;
			}
		}
	}
}

@mixin stacked {
	@include full-perc-size;

	& > #footer-content {
		flex-grow: 1;
		padding: 2rem;
		padding-top: calc(2rem + var(--current-header-shift-offset, #{$shrink-header-size-em}));
		height: unset;
		overflow: hidden auto;

		@include flex-row-evenly;

		& > #brand {
			margin: 2rem 0;
		}

		& > #brand-separator {
			@include separator-horizontal;
		}

		& > #links {
			margin: 1rem 0;

			@include flex-row-between;

			@include override-modifiers {
				align-items: flex-start;
			}

			& > .section {
				margin: 1rem;
			}
		}
	}
}

:host {
	@include absolute-bottom-left;
	@include stack("footer");
	@include flex-column-center;

	@include media("<=#{$mobile-breakpoint}") {
		&.linear {
			@include linear-tablet;
		}

		&:not(.linear) {
			@include stacked;
		}
	}

	@include media(">#{$mobile-breakpoint}", "<=#{$tablet-breakpoint}") {
		&.stacked {
			@include stacked;
		}

		&:not(.stacked) {
			@include linear-tablet;
		}
	}

	@include media(">#{$tablet-breakpoint}") {
		&.stacked {
			@include stacked;
		}

		&:not(.stacked) {
			@include linear;
		}
	}

	& > #post-note {
		background-color: map.get($theme, "background", "light-10%", "hex");
		text-align: center;

		@include inflexible;
		@include full-viewport-width;

		& > h3 {
			margin: 1em;
			font-family: "Fira Code", monospace;

			@include iflex-center;

			& img#chirpy-icon {
				@include invert-color;
				@include equal-dim(1.25rem);
			}
		}
	}

	& > #footer-content {
		background-color: map.get($theme, "background", "hex");

		@include full-viewport-width;

		@include override-modifiers {
			justify-content: flex-start;
		}

		& > #brand {
			text-align: center;

			& > div {
				& > p {
					font-family: "Share Tech Mono", monospace;
					font-size: 1.8em;
					font-weight: 800;

					@include reset-offsets;
				}

				& > img {
					@include invert-color;
					@include equal-dim(10em);
					@include layer(difference);
				}

				& > small {
					// TODO: Use the white-space/word-wrap mixin here
					white-space: nowrap;
				}
			}
		}

		& > #links {
			@include flexible;

			& > .section {
				min-width: 9rem;

				& > h3 {
					margin-bottom: 1em;
					font-weight: 800;
				}

				& > div {
					padding-left: 0.1em;

					& > #navigation-separator {
						@include separator-horizontal;
					}

					& > a {
						color: map.get($theme, "foreground", "dark-35%", "hex");
						font-weight: 500;
						line-height: 3em;
						text-decoration: none;
						// TODO: Use the white-space/word-wrap mixin here
						white-space: nowrap;
						cursor: pointer;
						transition: all 0.3s ease-out;

						@include flex-column-start;

						&:hover, &:focus-visible {
							color: map.get($theme, "foreground", "light-35%", "hex");
						}
					}
				}
			}
		}
	}
}
