@import 'vars'
@import './footer.colors'
@import './separator'

@mixin expanded
  &
    height: calc(100% - 4em)

    & > #footer-content
      flex-grow: 1

@mixin linear
  & > #footer-content
    flex-direction: column
    height: unset

    & > #brand
      width: calc(100vw - 2em)
      margin: 0 auto

    & > #brand-separator
      @include separator-horizontal

    & > #links
      flex-direction: row
      flex-wrap: wrap

      & > section
        min-width: calc((100vw / 2) - 4em)


@mixin stacked
  & > #footer-content
    flex-direction: row
    height: 28em

    & > #brand
      width: 14em
      margin: auto 1em

    & > #brand-separator
      @include separator-vertical

    & > #links
      margin: 1em
      flex-direction: column
      flex-grow: 1
      flex-wrap: wrap
      justify-content: flex-start

  @media (orientation: portrait), (max-width: 50em)
    @include expanded

.separator
  @include separator-horizontal

  &.vertical
    @include separator-vertical

  &.horizontal
    @include separator-horizontal

:host
  @include linear
  display: flex
  position: absolute
  left: 0
  bottom: 0
  flex-direction: column

  &.linear
    @include linear

  &.stacked
    @include stacked
    @media (orientation: portrait), (max-width: 40em)
      @include linear

  @media (orientation: portrait), (max-width: 50em)
    @include expanded

  @media (orientation: portrait), (max-width: 40em)
    @include linear

  & > #footer-content
    display: flex
    width: 100vw
    height: 28em
    padding: 2em 0
    background-color: map-deep-get($theme, "background", "hex")
    justify-content: space-around

    & > #brand
      margin: auto 1em
      text-align: center

      & > div
        & > p
          margin: 0
          font-family: "Share Tech Mono", monospace
          font-size: 1.8em
          font-weight: 800

        & > img
          width: 10em
          filter: invert(1)
          mix-blend-mode: difference

        & > small
          white-space: nowrap

    & > #links
      display: flex
      margin: 1em
      flex-direction: column
      flex-grow: 1
      flex-wrap: wrap
      justify-content: flex-start

      & > .section
        margin: 1em

        & > h6
          font-weight: 800
          margin-bottom: 1em

        & > div
          padding-left: 0.1em

          & > a
            display: flex
            color: map-deep-get($theme, "foreground", "dark-35%", "hex")
            flex-direction: column
            font-weight: 500
            white-space: nowrap
            line-height: 5vh
            text-decoration: none
            cursor: pointer
            transition: all 0.3s ease-out

            &:hover
              color: map-deep-get($theme, "foreground", "light-35%", "hex")

  & > #post-note
    text-align: center
    background-color: map-deep-get($theme, "background", "light-10%", "hex")

    & > h6
      margin: 1em
      font-family: Fira Code
