@use "sass:map";
@use "global" as *;
@use "media" as *;
@use "separator" as *;
@use "modifiers" as *;

@import "./footer.colors";

$expanded-breakpoint: 52em;
$linear-breakpoint: 42em;

@mixin expanded {
	height: calc(100% - var(--shrink-header-size-em, #{$shrink-header-size-em}));

	& > #footer-content {
		flex-grow: 1;
	}
}

@mixin linear {
	@include expanded;

	& > #footer-content {
		overflow-y: auto;

		@include flex-column-start;

		& > #brand {
			margin: 0;
			padding: 1em;
			width: 100%;
		}

		& > #brand-separator {
			@include separator-horizontal;
		}

		& > #links {
			@include flex-row-start;
			@include override-modifiers {
				flex-wrap: wrap;
			}

			& > section {
				// TODO: Weird condition. Recheck.
				min-width: calc((100vw / 2) - 4em);
			}
		}
	}
}

@mixin stacked {
	height: unset;

	@include media("<=#{$expanded-breakpoint}") {
		@include expanded;
	}

	& > #footer-content {
		height: 28em;

		@include flex-row-center;

		& > #brand {
			margin: 1em;
			padding: 0;
			width: 14em;
		}

		& > #brand-separator {
			@include separator-vertical;
		}

		& > #links {
			@include full-perc-size;
			@include flex-column-start;

			@include override-modifiers {
				flex-wrap: wrap;
			}
		}
	}
}

.separator {
	@include separator-horizontal;

	&.vertical {
		@include separator-vertical;
	}

	&.horizontal {
		@include separator-horizontal;
	}
}

:host {
	@include absolute-bottom-left;
	@include flex-column-start;
	@include linear;

	@include media("portrait") {
		@include linear;
	}

	@include media("<=#{$linear-breakpoint}") {
		@include linear;
	}

	&.linear {
		@include linear;
	}

	@include media(">#{$linear-breakpoint}") {
		&.stacked {
			@include stacked;
		}
	}

	& > #post-note {
		background-color: map.get($theme, "background", "light-10%", "hex");
		text-align: center;

		@include inflexible;
		@include full-viewport-width;

		& > h6 {
			margin: 1em;
			font-family: "Fira Code", monospace;
		}
	}

	& > #footer-content {
		padding: 2em 0;
		background-color: map.get($theme, "background", "hex");
		flex-grow: 0;

		@include full-viewport-width;

		& > #brand {
			text-align: center;

			& > div {
				& > p {
					font-family: "Share Tech Mono", monospace;
					font-size: 1.8em;
					font-weight: 800;

					@include reset-offsets;
				}

				& > img {
					width: 10em;
					filter: invert(1);

					@include layer(difference);
				}

				& > small {
					// TODO: Use the white-space/word-wrap mixin here
					white-space: nowrap;
				}
			}
		}

		& > #links {
			padding: 1em;

			& > .section {
				margin: 1em;

				& > h6 {
					margin-bottom: 1em;
					font-weight: 800;
				}

				& > div {
					padding-left: 0.1em;

					& > a {
						color: map.get($theme, "foreground", "dark-35%", "hex");
						font-weight: 500;
						line-height: 5vh;
						text-decoration: none;
						// TODO: Use the white-space/word-wrap mixin here
						white-space: nowrap;
						cursor: pointer;
						transition: all 0.3s ease-out;

						@include flex-column-start;

						&:hover {
							color: map.get($theme, "foreground", "light-35%", "hex");
						}
					}
				}
			}
		}
	}
}
