@use "modifiers" as *;
@use "stack" as *;

:host {
	opacity: 0;
	// TODO: Check if making it flex would work instead of the position: absolute hack

	@include absolute-center;
	@include full-perc-size;
	@include pointer-disable;
	@include stack("loader");

	&:not(.show) {
		transition: all 0.7s ease;
	}

	&.show {
		opacity: 1;
	}
}
