<app-scrollable
		[fullpage]="true"
		[nestedScroll]="true"
    [throttle]="500"
	>
	<div class="page splash" id="greeter" #page>
		<div class="bg-img-wrapper">
			<div class="bg-img"></div>
		</div>
		<div class="content">
			<div class="error-greeter">
				<h1>HUH?</h1>
				<h5>You weren't meant to be here!</h5>
			</div>
			<div
					*ngIf="!('production' | environment)"
					class="blur-fix"
					[ngClass]="{'activate': debugExpanded}"
				>
			</div>
			<div
					*ngIf="!('production' | environment)"
					class="debug-window"
					[ngClass]="{'expand': debugExpanded}"
					(wheel)="scrollFired($event)"
					#debugWindow
				>
				<div class="debug-wrapper">
					<div *ngFor="let prop of error | keyvalue">
						<span class="entry-key">{{ prop.key | titlecase }}</span>
						<span class="entry-value">{{ prop.value }}</span>
					</div>
				</div>
			</div>
			<!-- TODO: Consider using image if unicode is unsupported -->
			<p>
				Scroll down for SiteMap. ⏷
			</p>
		</div>
	</div>
	<div class="page splash" id="sitemap" #page>
		<!-- <app-sitemap></app-sitemap> -->
	</div>
</app-scrollable>
