<div class="content">
  <div id="text">
    <div id="logo">
      <img *ngIf="model.logo; else fallbackTitle" alt="logo-{{ model.title }}" src="{{ model.logo }}" />
      <ng-template #fallbackTitle>
        <h1>{{ model.title }}</h1>
      </ng-template>

      <p>{{ model.subtitle }}</p>
    </div>

    <p>{{ model.description }}</p>
  </div>

  <div *ngIf="model.screenshots" id="screenshot">
    <!-- // TODO: Update with a slideshow of screenshots -->
    <img alt="screenshot-{{ model.title }}-0" src="{{ model.screenshots[0] }}" />
  </div>
</div>
