@use "sass:map";
@use "animations" as *;
@use "assets" as *;
@use "colors" as *;
@use "page" as *;
@use "media" as *;
@use "modifiers" as *;
@use "stack" as *;

$theme: get-theme("landing");

// TODO: Use min-max mixin and abstract all used values to global

:host {
	@include route;

	& .page {
		@include page;
	}

	& #splash {
		@include page-bg-image(url(#{map.get($asset-registry, "landing", "splash-background")}));

		& > .content {
			@include full-perc-size;
			@include flex-column-center;

			& > h1 {
				color: map.get($theme, "accent", "hex");
				// TODO: Verify fonts, sizes and weights and abstract to global
				font-family: "Share Tech Mono", monospace;
				font-size: clamp(3em, 10vw, 10em);
				font-weight: 500;
				transition: color 0.2s ease;

				@include reset-offsets;
				@include disallow-selection;

				&:hover, &:focus-visible {
					color: map.get($theme, "accent", "invert", "hex");
					animation: chromatic-aberration 10s ease infinite;

					@include chromatic-aberration(map.get($theme, "accent", "hex"));
				}
			}
		}
	}

	& #overview {
		@include page-bg-image(url(#{map.get($asset-registry, "landing", "overview-background")}));
	}

	& #stats-view {
		@include page-bg-image(url(#{map.get($asset-registry, "landing", "stats-view-background")}));
	}

	& #map-view {
		@include page-bg-image(url(#{map.get($asset-registry, "landing", "map-view-background")}));
	}
}
