<app-scrollable [fullpage]="true" [nestedScroll]="true" (pageChangeEvent)="handlePageChange($event)">
  <div class="page" id="splash" #page>
    <div class="bg-img-wrapper">
      <div class="bg-img"></div>
    </div>
    <div class="content">
      <h1>PASSERIFORM</h1>
      <app-sweeper i18n-leading [auto]="true" leading="❯">
        <!-- // TODO: Add sweepable directive with label for sweeped item number -->
        <p #sweepable>A pseudonym for quality.</p>
        <p #sweepable>Status: Online</p>
        <p #sweepable>Working on <code>GodWit</code></p>
      </app-sweeper>
    </div>
  </div>

  <div class="page" id="overview" #page>
    <div class="bg-img-wrapper">
      <div class="bg-img"></div>
    </div>
    <div class="content">
      <app-cage-grid>
        <div *appCaged="'Announcements'">
          <p>&lt;Announcement list&gt;</p>
        </div>
        <div *appCaged="'Tracker'">
          <app-update-roll></app-update-roll>
        </div>
        <div *appCaged="'Todolist'">
          <p>&lt;Synced github todolist&gt;</p>
        </div>
      </app-cage-grid>
    </div>
  </div>

  <div class="page" id="dir-view" #page>
    <div class="bg-img-wrapper">
      <div class="bg-img"></div>
    </div>
  </div>
</app-scrollable>
