<!-- Use template name as input and register the template to a global scope for revealElements -->
<app-scrollable
		[allowEndReveal]="true"
		[fullpage]="true"
		[nestedScroll]="true"
		[showPageNav]="true"
    [throttle]="500"
		(pageChangeEvent)="handlePageChange($event)"
	>
	<div class="page splash" id="splash" #page>
		<div class="bg-img-wrapper">
			<div class="bg-img"></div>
		</div>
		<div class="content">
			<h1>PASSERIFORM</h1>
			<!-- TODO: Consider using image in case unicode is unsupported -->
			<app-sweeper [auto]="true" [leading]="'❯'">
				<!-- TODO: Add sweepable directive with label for sweeped item number -->
				<p #sweepable>A pseudonym for quality.</p>
				<!-- TODO: Add presence status UI -->
				<p #sweepable>Status: Online</p>
				<!-- TODO: Add GodWit WorkOn API -->
				<p #sweepable>Working on <q>GodWit</q></p>
			</app-sweeper>
		</div>
	</div>

	<div class="page" id="overview" #page>
		<div class="bg-img-wrapper">
			<div class="bg-img"></div>
		</div>
		<div class="content">
		</div>
	</div>

	<div class="page" id="stats-view" #page>
		<div class="bg-img-wrapper">
			<div class="bg-img"></div>
		</div>
		<div class="content">
			<app-cage-grid>
				<div *appCaged="'Announcements'">
					<p>&lt;Announcement list&gt;</p>
				</div>
				<div *appCaged="'Tracker'; animateContent: true">
					<app-update-roll></app-update-roll>
				</div>
				<div *appCaged="'Todolist'">
					<p>&lt;Synced github todolist&gt;</p>
				</div>
			</app-cage-grid>
		</div>
	</div>

	<div class="page" id="map-view" #page>
		<div class="bg-img-wrapper">
			<div class="bg-img"></div>
		</div>
		<div class="content">
		</div>
	</div>
</app-scrollable>
