<app-header logo="/assets/images/icons/passeriform.svg" target="/" alt="passeriform">
  <app-navtab>
    <a *appNavLink routerLink="/explore">Work</a>
    <a *appNavLink href="https://passeribird.blogspot.com/" target="_blank">Blog</a>
    <a *appNavLink routerLink="/about">About</a>
  </app-navtab>
</app-header>

<app-scrollable [fullpage]="true" [injectSplash]="true" [collapsed]="true">
  <div *ngIf="model?.intro" id="intro" class="page" #page>
    <div class="bg-img"></div>
    <div class="content">
      <div id="intro-container" class="content-wrapper">
        <a routerLink="/about/{{ model.subject }}" class="avatar">
          <img *ngIf="model.intro.img" src={{model.intro.img}} />
        </a>
        <div class="content-text">
          <h1>{{ model.intro.heading }}</h1>
          <p>
            {{ model.intro.paragraph }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="model?.overview" id="overview" class="page" #page>
    <div class="bg-img"></div>
    <div class="content">
      <div id="overview-container" class="content-wrapper">
        <section *ngFor="let section of model.overview">
          <img *ngIf="section.img" src={{section.img}}/>
          <p>
            {{ section.paragraph }}
          </p>
        </section>
      </div>
    </div>
  </div>
  <div *ngIf="model?.story" id="story" class="page" #page>
    <div class="bg-img"></div>
    <div class="content">
      <div id="story-container" class="content-wrapper">
        <img *ngIf="model.story.img" src={{model.story.img}}  />
        <p>
          {{ model.story.paragraph }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="model?.contributors" id="contributors" class="page" #page>
    <div class="bg-img"></div>
    <div class="content">
      <app-cage-grid>
        <div id="contributors-container" class="content-wrapper" *appCaged="'Contributors'">
          <ng-container *ngFor="let contributor of model.contributors">
            <div class="contributor">
              <app-tooltip [show]="contributor.showToggle">
                <h5>{{ contributor.title }}</h5>
                <span>{{ contributor.description }}</span>
              </app-tooltip>
              <a routerLink="/about/{{ contributor.aboutUrl }}">
                <img *ngIf="contributor.img" src={{contributor.img}} (mouseover)="showTooltip(contributor)" (mouseout)="hideTooltip(contributor)" />
              </a>
            </div>
          </ng-container>
        </div>
      </app-cage-grid>
    </div>
  </div>
  <div *ngIf="model?.contact" id="contact" class="page" #page>
    <div class="bg-img"></div>
    <div class="content">
      <div id="contact-container" class="content-wrapper">
        <img *ngIf="model.contact.img" src={{model.contact.img}}  />
        <div>
          <h1>{{ model.contact.heading }}</h1>
          <p>{{ model.contact.paragraph }}</p>
          <div class="contact-form">
            <form id="contact" autocomplete="off" _lpchecked="1">
              <ul>
                <li class="half">
                  <input class="inputField" placeholder="Name" type="text" name="name">
                  <label class="inputLabel"></label>
                </li>
                <li class="half">
                  <input class="inputField" placeholder="Email" type="email" name="email">
                  <label class="inputLabel"></label>
                </li>
                <li>
                  <input class="inputField" placeholder="Subject" type="text" name="subject">
                  <label class="inputLabel"></label>
                </li>
                <li>
                  <textarea class="inputField" placeholder="Message" name="msg" spellcheck="false" style="height: 110px;"></textarea>
                  <label class="inputLabel"></label>
                </li>
                <li class="submit">
                  <input id="submit" type="submit" class="flat-button" value="SEND">
                  <label class="inputLabel"></label>
                </li>
              </ul>
            </form>
          </div>
          <p class="postform">
            {{ model.contact.mediaplugpara }}
          </p>
        </div>
        <app-social-glyphs [model]="model.contact.links"></app-social-glyphs>
      </div>
    </div>
  </div>
</app-scrollable>
