<app-scrollable
		[fullpage]="true"
		[nestedScroll]="true"
		[showPageNav]="true"
		[allowEndReveal]="true"
	>
  <div *ngIf="model?.intro" class="page" id="intro" #page>
    <div class="bg-img"></div>
    <div class="content" appHeaderOffset>
      <app-namecard
          avatarLink="/about/{{ model.subject }}"
          [imgUrl]="model.intro?.img"
          [imgAlt]="'profile-img'"
          [name]="model.intro?.heading"
          [description]="model.intro?.paragraph"
        >
      </app-namecard>
    </div>
  </div>
  <div *ngIf="model?.overview" class="page" id="overview" #page>
    <div class="bg-img"></div>
    <div class="content" appHeaderOffset>
      <div class="content-wrapper">
        <section *ngFor="let section of model.overview">
          <img i18n-alt *ngIf="section.img" alt="overview-img" src="{{ section.img }}" />
          <p>
            {{ section.paragraph }}
          </p>
        </section>
      </div>
    </div>
  </div>
  <div *ngIf="model?.story" class="page" id="story" #page>
    <div class="bg-img"></div>
    <div class="content" appHeaderOffset>
      <div class="content-wrapper">
        <section *ngFor="let section of model.story">
          <img i18n-alt *ngIf="section.img" alt="story-section-img" src="{{ section.img }}" />
          <p>
            {{ section.paragraph }}
          </p>
        </section>
      </div>
    </div>
  </div>
  <div *ngIf="model?.contributors" class="page" id="contributors" #page>
    <div class="bg-img"></div>
    <div class="content" appHeaderOffset>
      <app-cage-grid>
        <div *appCaged="'Contributors'" id="contributors-container">
          <ng-container *ngFor="let contributor of model.contributors">
            <div class="contributor">
              <ng-template #tooltipTemplate>
                <h5>{{ contributor.title }}</h5>
                <span>{{ contributor.description }}</span>
              </ng-template>

              <div i18n-position appTooltip [position]="Position.BOTTOM" [template]="tooltipTemplate">
                <a routerLink="/about/{{ contributor.aboutUrl }}">
                  <img i18n-alt *ngIf="contributor.img" alt="profile-contributor-img" src="{{ contributor.img }}" />
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </app-cage-grid>
    </div>
  </div>
  <div *ngIf="model?.contact" class="page" id="contact" #page>
    <div class="bg-img"></div>
    <div class="content" appHeaderOffset>
      <div class="content-wrapper">
        <img i18n-alt *ngIf="model.contact?.img" alt="contact-img" src="{{ model.contact?.img }}" />
        <div class="contact-details">
          <h1>{{ model.contact?.heading }}</h1>
          <p>{{ model.contact?.paragraph }}</p>

          <app-contact-form></app-contact-form>

          <p class="postform">
            {{ model.contact?.mediaplugpara }}
          </p>
        </div>
        <app-social-glyphs [model]="model.contact?.links"></app-social-glyphs>
      </div>
    </div>
  </div>
</app-scrollable>
