@use "sass:map";
@use "assets" as *;
@use "colors" as *;
@use "page" as *;
@use "media" as *;
@use "modifiers" as *;
@use "stack" as *;

$theme: get-theme("about");

// TODO: Use align-selfs in places where performing weird compromises on parent styles

:host {
	@include route;

	& .page {
		@include page;

		& > .content {
			padding: 1em;
			padding-top: 2em;
			text-transform: none;

			& > .content-wrapper {
				@include flex-column-around;
				@include full-perc-size;
			}
		}
	}

	& #intro {
		@include page-bg-image(url(#{map.get($asset-registry, "about", "intro-background")}));

		& > .content {
			padding: 10%;

			@include flex-row-center;
			@include full-perc-size;
		}
	}

	& #contact {
		@include flex-row-center;
		@include page-bg-image(url(#{map.get($asset-registry, "about", "contact-background")}));

		& > .content {
			padding: 0 10%;
			max-width: 80em;

			& > .content-wrapper {
				align-items: center;
				padding: 1em;

				& > img {
					@include equal-dim(12em);
					@include circle-border;
				}

				& > .contact-details {
					@include flex-column-start;

					// TODO: Implement profile-pic slide-reveal, when hovering on h1
					& > h1 {
						padding: 0.2em 0.7em;
						width: fit-content;
						color: map.get($theme, "foreground", "hex");
						font-size: 3em;
						font-weight: 800;
						letter-spacing: 0.1em;
						word-spacing: 0.3em;
						clip-path: polygon(0 1em, 0 100%, calc(100% - 1em) 100%, 100% calc(100% - 1em), 100% 0, 1em 0);

						@include if-supported("backdrop-filter", brightness(50%), saturate(300%), blur(0.4em));
					}

					& > .postform {
						padding-inline: 1em;
						font-family: "DM Mono", monospace;
						font-size: 1.25em;
						font-weight: 500;
						letter-spacing: 0;

						@include clear-fix;
					}
				}
			}
		}
	}

	& #overview {
		@include page-bg-image(url(#{map.get($asset-registry, "about", "overview-background")}));

		& > .content > .content-wrapper > section {
			text-align: justify;

			@include flex-row-center;
			@include full-perc-size;

			& > * {
				margin: 0.5em 1em;
			}

			& > img {
				flex-shrink: 0;

				@include equal-dim(8em);
			}
		}
	}

	& #story {
		@include page-bg-image(url(#{map.get($asset-registry, "about", "story-background")}));
	}

	& #contributors {
		@include page-bg-image(url(#{map.get($asset-registry, "about", "contributors-background")}));

		& #contributors-container {
			@include flex-row-evenly;

			& > .contributor {
				margin: 1em;

				& a > img {
					@include equal-dim(4em);
					@include circle-border;
				}
			}
		}
	}
}
