@use "sass:map";
@use "assets" as *;
@use "page" as *;
@use "modifiers" as *;
@use "stack" as *;

@import "./about.colors";

$content-font-size: clamp(1em, 2vw, 1.5em);

// TODO: Use align-selfs in places where performing weird compromises on parent styles

:host {
	position: relative;

	@include stack("route");

	& .page {
		@include page;

		& > .content {
			padding: 1em;
			padding-top: 2em;
			text-transform: none;

			& > .content-wrapper {
				@include flex-column-center;
				@include full-perc-size;

				& > .content-text {
					padding: 2em;

					& > p {
						font-size: $content-font-size;
						line-height: 1.2;
					}
				}
			}
		}

		&#intro {
			@include page-bg-content {
				background-image: url(#{map.get($asset-registry, "about", "intro-background")});
				background-repeat: no-repeat;
				background-size: cover;
				filter: brightness(50%);
			}

			& > .content {
				padding: 10%;

				@include flex-row-center;
				@include full-perc-size;
			}
		}

		&#contact {
			@include flex-row-center;

			@include page-bg-content {
				background-image: url(#{map.get($asset-registry, "about", "contact-background")});
				background-repeat: no-repeat;
				background-size: cover;
				filter: brightness(50%);
			}

			& > .content {
				padding: 0 10%;
				max-width: 80em;

				&> .content-wrapper {
					padding: 1em;

					& > img {
						@include equal-dim(12em);
						@include circle-border;
					}

					& > .contact-details {
						@include full-perc-size;

						// TODO: Implement profile-pic slide-reveal, when hovering on h1
						& > h1 {
							padding: 0.2em;
							color: map.get($theme, "accent", "hex");
							width: fit-content;
							background: map.get($theme, "background", "invert", "hex");
							font-size: 3rem;
							font-weight: 400;
							line-height: 1;
						}

						& > .postform {
							@include clear-fix;
						}
					}
				}
			}
		}

		&#overview {
			@include page-bg-content {
				background-image: url(#{map.get($asset-registry, "about", "overview-background")});
				background-repeat: no-repeat;
				background-size: cover;
				filter: brightness(50%);
			}

			& > .content > .content-wrapper {
				& > section {
					text-align: justify;

					@include flex-row-center;
					@include full-perc-size;

					& > * {
						margin: 0.5em 1em;
					}

					& > img {
						flex-shrink: 0;

						@include equal-dim(8em);
					}
				}
			}
		}

		&#story {
			@include page-bg-content {
				background-image: url(#{map.get($asset-registry, "about", "story-background")});
				background-repeat: no-repeat;
				background-size: cover;
				filter: brightness(50%);
			}
		}

		&#contributors {
			@include page-bg-content {
				background-image: url(#{map.get($asset-registry, "about", "contributors-background")});
				background-repeat: no-repeat;
				background-size: cover;
				filter: brightness(50%);
			}

			& #contributors-container {
				@include flex-row-evenly;

				& > .contributor {
					margin: 1em;

					& a > img {
						@include equal-dim(4em);
						@include circle-border;
					}
				}
			}
		}
	}
}
