@use "sass:map";
@use "colors" as *;
@use "modifiers" as *;

$theme: get-theme("social-glyphs");
$no-of-items: 5;
$max-inter-item-width: 1em;
$max-width: ($no-of-items * 2em) + ($no-of-items + 1) * $max-inter-item-width;

:host {
	width: 100%;

	@include flex-row-evenly;

	& > * {
		padding: 1em 0.75em;
	}

	& > div > a > fa-icon {
  	color: map.get($theme, "secondary", "hex");
    font-size: 2em;

		&.inverted {
    	color: map.get($theme, "primary", "hex");
		}
	}
}
