@use "modifiers" as *;

$no-of-items: 5;
$max-inter-item-width: 1em;
$max-width: ($no-of-items * 2em) + ($no-of-items + 1) * $max-inter-item-width;

@mixin normal {
	filter: invert(0);
}

@mixin inverted {
	filter: invert(1);
}

:host {
	width: 100%;

	// TODO: Make sure align-items isn't causing any issue
	@include flex-row-evenly;

	& > * {
		padding: 1em 0;
	}

	& img {
		@include equal-dim(2em);

		&:not(.inverted) {
			@include normal;
		}
		&.inverted {
			@include inverted;
		}
	}
}
