$no-of-items: 5;
$max-inter-item-width: 1em;
$max-width: ($no-of-items * 2em) + ($no-of-items + 1) * $max-inter-item-width;

@mixin normal {
	filter: invert(0);
}

@mixin inverted {
	filter: invert(1);
}

:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: auto;
	width: min(54em, 100%);

	& > * {
		padding: 1em 0;
	}

	& img {
		width: 2em;
		height: 2em;

		&:not(.inverted) {
			@include normal;
		}
		&.inverted {
			@include inverted;
		}
	}
}
