@use "sass:map";
@use "sass:math";
@use "global";
@use "modifiers";

@import "./tooltip.colors";

$tooltip-window-width-em: 20em;
$tooltip-window-height-em: 20em;
$tooltip-arrow-width-em: 1em;
$tooltip-arrow-height-em: 1em;

@mixin normal-color {
	border: 1px solid invert(map.get($theme, "accent", "hex"));
	background-color: invert(map.get($theme, "background", "hex"));
	color: invert(map.get($theme, "foreground", "hex"));
}

@mixin invert-color {
	border: 1px solid map.get($theme, "accent", "hex");
	background-color: map.get($theme, "background", "hex");
	color: map.get($theme, "foreground", "hex");
}

:host {
	position: absolute;
	top: var(--tooltip-top);
	left: var(--tooltip-left);
	z-index: 10;
	display: inline-block;
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: top 0.2s ease, left 0.2s ease, visibility 0.5s ease, opacity 0.5s ease;

	& > .tooltip-internal {
		position: absolute;
		box-sizing: border-box;
		padding: 1em 2em;
		max-width: $tooltip-window-width-em;
		box-shadow: 0 0 5px -3px map.get($theme, "shadow", "hex");
		transform: translateX(-50%);

		@include normal-color;
		@include modifiers.max-content-width;

		&:after {
			content: "";
			position: absolute;
			left: 50%;
			margin-top: -#{math.div($tooltip-arrow-width-em, 2)};
			margin-left: -#{math.div($tooltip-arrow-width-em, 2)};
			width: $tooltip-arrow-width-em;
			height: $tooltip-arrow-height-em;
			box-shadow: 0 0 5px -3px map.get($theme, "shadow", "hex");
			transform: rotate(45deg);

			@include normal-color;
		}

		&.invert {
			@include invert-color;

			&:after {
				@include invert-color;
			}
		}
	}

	&.corner > .tooltip-internal {
		transform: translateX(0);
	}

	&.top {
		& > .tooltip-internal {
			bottom: $tooltip-arrow-width-em * 2;

			&:after {
				top: 100%;
			}
		}

		&.corner > .tooltip-internal:after {
			left: 0;
		}
	}

	&.right {
		& > .tooltip-internal {
			left: $tooltip-arrow-width-em * 2;

			&:after {
				left: 0;
			}
		}

		&.corner > .tooltip-internal:after {
			top: 0;
		}
	}

	&.bottom {
		& > .tooltip-internal {
			top: $tooltip-arrow-width-em * 2;

			&:after {
				top: 0;
			}
		}

		&.corner > .tooltip-internal:after {
			left: 0;
		}
	}

	&.left {
		& > .tooltip-internal {
			right: $tooltip-arrow-width-em * 2;

			&:after {
				left: 100%;
			}
		}

		&.corner > .tooltip-internal:after {
			top: 0;
		}
	}

	&.show {
		visibility: visible;
		opacity: 1;
	}
}
