<!-- <ng-template #tree let-node="node">
  <div class="ch-node-div" (click)="changeNode( $event )" [style.height]="node.ch + '%'" [class.node--selected]="( node === selectedTreeNode )">

    <a class="ch-node-label">
      {{ node.title }}
    </a>

    <div class="ch-node" *ngIf="node.children.length">
      <ng-template ngFor let-child [ngForOf]="node.children">
        <ng-template
          [ngTemplateOutlet]="tree"
          [ngTemplateOutletContext]="{ node: child }">
        </ng-template>
      </ng-template>
    </div>
  </div>
</ng-template> -->

<!-- <ng-template
  [ngTemplateOutlet]="tree"
  [ngTemplateOutletContext]="{ node: model }">
</ng-template> -->

<div class="ch-node">
  <div title="{{ model.title }}" class="ch-node-link-container" (click)="nodeClick($event)">
    <a class="ch-node-link">
        <img class="ch-node-pic" src="{{ model.src }}"/>
    </a>
  </div>
  <div *ngIf="model.children.length">
    <div *ngFor="let node of model.children; index as i">
      <node [model]="node" [style.width]="(100/model.children.length) + '%'" level={{(+level)+1}} index={{i}}></node>
    </div>
  </div>
</div>
