@use "sass:map";
@use "modifiers" as *;

@import "./raisecard.colors";

@mixin compact {
	height: 11.5em;
}

@mixin relaxed {
	height: 22em;
}

:host {
	margin: 0.5em;
	padding: 1em;
	width: clamp(23em, 80vw, 30em);
	border-radius: 0.25rem;
	cursor: pointer;
	word-wrap: break-word;
	background-clip: border-box;
	// TODO: Indicate somehow the ability to use background image
	background-color: map.get($theme, "foreground", "hex");
	color: map.get($theme, "background", "hex");
	vertical-align: top;

	@include iflex;

	// TODO: Find a way to abstract into a mixin
	&:not(.compact) {
		@include relaxed;
	}
	&.compact {
		@include compact;
	}

	& > .marker {
		position: absolute;
		padding: 0.3em 0.8em;
		background-color: map.get($theme, "background", "hex");
		color: map.get($theme, "foreground", "hex");
	}

	& > .content {
		position: relative;
		// TODO: Check if top can be removed. Maybe extra css
		top: 0;
		// TODO: Check if text-align can be safely added to flex-row-center
		text-align: center;

		// TODO: Check if wrapping is fine
		@include flex-row-center;
		@include full-perc-size;
		@include no-overflow;

		&.marker-shift {
			top: 3em;
			height: calc(100% - 3em);
		}
	}
}
