$image-path: "/assets/images/";
$image-types: (
	"icons",
	"patterns",
	"people",
	"",
);

@function get-asset-of-type($type, $name, $extension: "svg") {
	@if not(index($image-types, $type)) {
		@error "Not a valid asset group";
	}

	@return $image-path + "#{$type}/#{$name}.#{$extension}";
}

@function get-image($name, $extension: "svg") {
	@return get-asset-of-type("", $name, $extension);
}

@function get-icon($name, $extension: "svg") {
	@return get-asset-of-type("icons", $name, $extension);
}

@function get-pattern($name, $extension: "svg") {
	@return get-asset-of-type("patterns", $name, $extension);
}

@function get-people($name, $extension: "svg") {
	@return get-asset-of-type("people", $name, $extension);
}

$asset-registry: (
	"about": (
		"intro-background": get-image("cyberpunk_background_2", "png"),
		"contact-background": get-image("cyberpunk_background_3", "png"),
		"contributors-background": get-image("cyberpunk_background_3", "png"),
		"overview-background": get-image("cyberpunk_background_1", "png"),
		"story-background": get-image("cyberpunk_background_2", "png"),
	),
	"landing": (
		"splash-background": get-image("drive_background_1", "png"),
		"overview-background": get-image("drive_background_2", "png"),
		"stats-view-background": get-image("drive_background_3", "png"),
		"map-view-background": get-image("drive_background_4", "png"),
	),
);
