@use "sass:math";

$scrollbar-colors: ("scrollbar": ("thumb": #4A4A4A99, "track": #24242499));

$big-block-em: 12em;
$small-block-em: 6em;
$shrink-leaf-em: 8em;
$shrink-block-em: 4em;

$line-height-px: 22px;

/* --------- Overlay --------- */
$overlay-flap-size: $small-block-em;

/* --------- Navigator --------- */
$navigator-flap-size: $small-block-em;
$navigator-expand-length: 2 * $small-block-em;

/* --------- CageGrid --------- */
$cage-grid-size: math.div($small-block-em, 2);

/* --------- Pivotnav --------- */
$root-size: 12em;
$node-size: 7em;
$li-pos: math.div(($root-size - $node-size), 2);
$items: 10;
$extend-radius: $root-size;

:root {
	--shrink-header-size-em: #{$shrink-block-em};

	textarea {
		outline: none;
	}
}
