@mixin disallow-selection {
	-webkit-touch-callout: none;
	user-select: none;
}

@mixin max-content-width {
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

@mixin full-perc-size {
	@include equal-dim(100%);
}

@mixin absolute-top-left {
	position: absolute;
	top: 0;
	left: 0;
}
@mixin no-overflow {
	overflow: hidden;
}

@mixin inflexible {
	flex: 0 0 auto;
}

@mixin flexible {
	flex: 1 1 auto;
}

/// Use only in rare cases. Full viewport height breaks in mobile browsers.
@mixin full-viewport-size {
	width: 100vw;
	height: 100vh;
}

