@use "modifiers" as *;

@mixin page {
	position: relative;
	top: 0;
	left: 0;
	overflow: auto;
	background-color: black;

	// TODO: Try using percentage alternative if possible.
	@include full-viewport-size;

	&:not(.splash) {
		padding-top: var(--current-header-shift-offset, 0);
	}

	& > .bg-img-wrapper {
		@include absolute-top-left;
		@include no-overflow;

		& > .bg-img {
			position: fixed;

			@include full-viewport-size;
		}
	}

	& > .content {
		position: relative;

		@include full-perc-size;
	}
}

@mixin page-bg-color($background) {
	@include page-bg-content {
		background-color: $background;
	}
}

@mixin page-bg-content {
	& > .bg-img-wrapper > .bg-img {
		@content;
	}
}
