@use "modifiers" as *;

$separator-fading-measure: 1em;
$gradient-fade-color-hex: #19191900;
$gradient-solid-color-hex: #3D3D3D99;

@mixin separator-vertical {
	margin: 0 0.5em;
	/* stylelint-disable-next-line unit-allowed-list -- Separator should have a static thickness */
	width: 2px;
	height: 100%;
	background:
		linear-gradient(
			to bottom,
			$gradient-fade-color-hex,
			$gradient-solid-color-hex $separator-fading-measure,
			$gradient-solid-color-hex calc(100% - #{$separator-fading-measure}),
			$gradient-fade-color-hex
		);

	@include inflexible;
}

@mixin separator-horizontal {
	margin: 0.5em 0;
	width: 100%;
	/* stylelint-disable-next-line unit-allowed-list -- Separator should have a static thickness */
	height: 2px;
	background:
		linear-gradient(
			to right,
			$gradient-fade-color-hex,
			$gradient-solid-color-hex $separator-fading-measure,
			$gradient-solid-color-hex calc(100% - #{$separator-fading-measure}),
			$gradient-fade-color-hex
		);

	@include inflexible;
}
