<app-scrollable
		[allowEndReveal]="true"
		[fullpage]="true"
		[nestedScroll]="true"
		[pageResetTrigger$]="scrollResetState$"
		[throttle]="500"
		[showPageNav]="true"
    [customScrollElement]="document"
	>
	<ng-container *ngIf="selectedModel$ | async as selectedModel; else modelPlaceholder">
		<div class="page" id="description" #page>
			<div class="bg-img-wrapper">
				<div class="bg-img"></div>
			</div>
			<div class="content">
				<app-describe [model]="selectedModel | retain: 'assets':'brief':'logo':'subtitle':'title'">
				</app-describe>
			</div>
		</div>
		<div class="page" id="stats" #page>
			<div class="bg-img-wrapper">
				<div class="bg-img"></div>
			</div>
			<div class="content">
				<!-- <app-stats [model]="selectedModel" >
				</app-stats> -->
			</div>
		</div>
		<div class="page" id="stack" #page>
			<div class="bg-img-wrapper">
				<div class="bg-img"></div>
			</div>
			<div class="content">
				<app-tech-stack [model]="selectedModel | retain: 'languages':'frameworks':'tools'">
				</app-tech-stack>
			</div>
		</div>
		<div class="page" id="future" #page>
			<div class="bg-img-wrapper">
				<div class="bg-img"></div>
			</div>
			<div class="content">
				<!-- <app-timeline [model]="selectedModel">
				</app-timeline> -->
			</div>
		</div>
	</ng-container>

	<ng-template #modelPlaceholder>
		<div class="page" id="selected-placeholder" #page>
			<div class="bg-img-wrapper">
				<div class="bg-img"></div>
			</div>
			<div class="content" id="placeholder-content">
				<h1>
					<span>P</span>roject
					<br />
					<span>E</span>xplorer.
				</h1>
				<div *ngIf="displayInitialTip" class="hint-text">
					<p i18n-explore-tip>Start by clicking the top-right corner.</p>
				</div>
			</div>
		</div>
	</ng-template>
</app-scrollable>

<app-overlay class="header-offset" (triggerEvent)="handleOverlayTrigger()">
	<app-showcase (selectionEvent)="handleSelection()"></app-showcase>
</app-overlay>
