@import 'vars'

$placeholder-bg-color-hex: #0E1012
$placeholder-h1-span-color-hex: #7E9300
$placeholder-p-color-hex: #AAAAAA

$description-bg-color-hex: #0E1012
$stack-bg-color-hex: #1F0911

:host
  & .bg-img
    position: absolute
    height: 100vh
    width: 100vw
    z-index: -1

  & #selected-placeholder
    & > .bg-img
      background-color: $placeholder-bg-color-hex

    & > #placeholder-content
      position: relative
      height: calc(100vh - #{$shrink-header-size})
      top: $shrink-header-size
      padding: 2em 5em
      overflow: hidden

      @media screen and (max-width: 400px)
        padding: 2em 1em


      & > h1
        width: min(max(5em, 10vw), 7em)
        height: 2em
        font-size: min(max(5em, 10vw), 7em)
        line-height: 0.9em
        text-align: start
        text-transform: initial

        & > span
          color: $placeholder-h1-span-color-hex

      & > p
        text-transform: initial
        font-size: 2em
        letter-spacing: 0.1em
        text-align: start
        word-spacing: 0.21em
        margin: auto
        width: 11em
        line-height: 1.2em
        position: absolute
        font-weight: 400
        color: $placeholder-p-color-hex
        text-align: center
        top: 50%
        left: 50%
        transform: translate(-50% , -50%)
        -webkit-transform: translate(-50%, -50%)

  & #description
    & > .bg-img
      background-color: $description-bg-color-hex

    & > #content
      position: relative
      height: calc(100% - #{$shrink-header-size})
      top: $shrink-header-size

  & #stack
    & > .bg-img
      background-color: $stack-bg-color-hex

    & > #content
      position: relative
      height: calc(100% - #{$shrink-header-size})
      top: $shrink-header-size
