@use "sass:map";
@use "media" as *;
@use "page" as *;
@use "modifiers" as *;
@use "stack" as *;

@import "./work.colors";

$h1-responsive-font-size: clamp(5em, 10vw, 7em);
$stack-order: (
	"placeholder-hint-text",
	"placeholder-title",
);

:host {
	position: relative;
	display: block;

	@include full-perc-size;
	@include stack("route");

	& .page {
		@include page;
	}

	& #selected-placeholder {
		@include page-bg-color(map.get($theme, "background", "hex"));

		& > #placeholder-content {
			position: relative;
			padding: 2em 5em;

			@include no-overflow;

			@include media("screen", "<=400px") {
				padding: 2em 1em;
			}

			& > h1 {
				position: relative;
				width: $h1-responsive-font-size;
				height: 2em;
				font-size: $h1-responsive-font-size;
        font-weight: 500;
				line-height: 0.9em;
				text-align: start;
				text-transform: initial;

				@include stack("route", "placeholder-title", $stack-order);

				& > span {
					color: map.get($theme, "accent", "hex");
				}
			}

			& > div.hint-text {
				@include absolute-top-left;
				@include flex-column-center;
				@include full-perc-size;
				@include stack("route", "placeholder-hint-text", $stack-order);

				& > p {
					width: 11em;
					color: map.get($theme, "accent", "hex");
					font-size: 2em;
					font-weight: 400;
					letter-spacing: 0.1em;
					line-height: 1.2em;
					text-align: center;
					text-transform: initial;
					word-spacing: 0.2em;

					@include media("<=30em") {
						display: none;
					}
				}
			}
		}
	}

	& #description {
		@include page-bg-color(map.get($theme, "background", "hex"));
	}

	& #stack {
		@include page-bg-color(map.get($theme, "background", "light-5%", "hex"));
	}
}
