ul {
    margin: 2.5rem 0.5rem;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
}

.container {
    display: flex;
    position: fixed;
    right: 0;
}

.icon {
    color: #ECECEC;
    width: 2rem;
}