@use "sass:map";
@use "modifiers" as *;

@import "./describe.colors";

:host {
	& > .content {
		height: 100%;

		@include flex-row-evenly;

		& > * {
			padding: 0 3em;
		}

		& > #screenshot {
			min-width: 25em;
			max-width: 40em;

			// TODO: Check if wrapping/text-align is working fine
			@include flex-row-around;

			& > img {
				margin: auto;

				@include full-perc-size;
			}
		}

		& > #text {
			@include responsive-width(30em, 80em, 60vw);

			& > #logo {
				padding: 0 2em;

				& > h1 {
					// TODO: Abstract these font sizes/weights into global
					margin-bottom: -0.1em;
					font-size: 5em;
					font-weight: 700;
				}

				& > p {
					color: map.get($theme, "accent", "hex");
					font-size: 1.25em;
					font-weight: 500;
				}

				& > img {
					@include equal-dim(30em);
				}
			}
		}
	}
}
