@use "sass:map";
@use "sass:math";
@use "global";
@use "shapes";

@import "./navigator.colors";

$idle-icon-size: math.div(global.$navigator-flap-size, 3);
$hide-icon-size: math.div(global.$navigator-flap-size, 4);

// TODO: Simplify shapes css for this file and try using existing shapes.

:host {
	& > .flap-button {
		position: absolute;
		right: -(global.$navigator-expand-length - global.$navigator-flap-size);
		bottom: 0;
		width: global.$navigator-expand-length;
		height: global.$navigator-flap-size;
		cursor: pointer;
		transition: right 0.2s, clip-path 0.4s;
		clip-path: shapes.get-shape(["snipped-rectangle", "bottom-right"], global.$navigator-flap-size);

		& > #before {
			position: absolute;
			display: block;
			width: 100%;
			height: math.div(global.$navigator-flap-size, 2);
			background-color: map.get($theme, "accent", "hex");
			clip-path: shapes.get-shape(
				["snipped-rectangle", "shifted-bottom-right"],
				("shift": math.div(global.$navigator-flap-size, 2), "snip-size": math.div(global.$navigator-flap-size, 2))
			);
		}

		& > #after {
			position: absolute;
			display: block;
			width: 100%;
			height: global.$navigator-flap-size;
			background-color: map.get($theme, "accent", "hex");
			clip-path: shapes.get-shape(["snipped-rectangle", "bottom-right"], global.$navigator-flap-size);
			transform-origin: top;
			transition: all 0.4s ease;
		}

		& > #idle-icon {
			position: absolute;
			right: global.$navigator-expand-length - global.$navigator-flap-size;
			bottom: 0;
			display: block;
			color: map.get($theme, "accent", "invert", "hex");
			transition: all 0.2s;

			& > img {
				$flap-incircle-radius: (2 - math.sqrt(2)) * math.div(global.$navigator-flap-size, 2);
				margin: $flap-incircle-radius - math.div($idle-icon-size, 2);
				width: $idle-icon-size;
				height: $idle-icon-size;
			}
		}

		& > #hide-icon {
			position: absolute;
			right: 0;
			bottom: 0;
			display: none;
			color: map.get($theme, "accent", "invert", "hex");
			transition: all 0.2s;

			& > img {
				$flap-incircle-radius: (2 - math.sqrt(2)) * math.div(global.$navigator-flap-size, 2) * math.sqrt(2);
				// margin: 0 ($flap-incircle-radius - (math.div($hide-icon-size, 2)));
				margin: 0;
				width: $hide-icon-size;
				height: $hide-icon-size;
			}
		}

		// TODO: Remove later
		& > #command-init {
			position: absolute;
			right: 0;
			bottom: math.div(global.$navigator-flap-size, 2) + 0.5em;
			display: flex;
			width: 0;
			height: 50%;
			border: none;
			background: none;
			color: map.get($theme, "highlight", "hex");
			opacity: 0;
			transition: all 0.2s;

			& > #prompt {
				margin: auto 0.5em;
				margin-right: 0;
				font-weight: 700;
			}

			& > input {
				margin: auto 0.5em;
				width: 100%;
				height: 100%;
				border: none;
				background: none;
				color: map.get($theme, "highlight", "hex");
				outline: none;
			}
		}

		& > #click-capture {
			position: absolute;
			right: global.$navigator-expand-length - global.$navigator-flap-size;
			bottom: 50%;
			display: block;
			width: global.$navigator-flap-size;
			height: 50%;
			background: transparent;
			clip-path: shapes.get-shape(["arrow", "point-down"]);
		}

		&.expanded {
			right: 0;
			clip-path: polygon(0 0, 100% 0, 100% 50%, math.div(global.$navigator-flap-size, 2) 50%);
			transition: right 0.2s;

			& > #after {
				transform: scaleY(-50%) translateY(50%);
				transform-origin: center;
				mix-blend-mode: difference;
				clip-path: shapes.get-shape(["snipped-rectangle", "bottom-right"], math.div(global.$navigator-flap-size, 2));
			}

			& > #idle-icon {
				right: 0;
				display: none;
			}

			// TODO: Abstract incircle and icon placement logic to modifier mixin.

			& > #hide-icon {
				right: global.$navigator-expand-length - math.div(global.$navigator-flap-size, 2) - math.div($hide-icon-size, 2);
				bottom: math.div(global.$navigator-flap-size, 2) + math.div(global.$navigator-flap-size, 4) - math.div(math.div(global.$navigator-flap-size, 2 * math.sqrt(2)), 4);
				display: block;
			}

			& > #command-init {
				width: global.$navigator-expand-length - global.$navigator-flap-size;
				height: 2em;
				opacity: 1;
			}
		}
	}
}
