<div class="content">
	<app-dynamic-search
			[model]="(model$ | async) ?? []"
      [searchPaths]="[ 'brief', 'frameworks', 'languages', 'license', 'subtitle', 'tags', 'title', 'tools', 'type' ]"
			[resetTrigger$]="searchResetState$"
			(propagate)="setTransform($event)"
		>
	</app-dynamic-search>

	<div class="card-scroller">
    <app-scrollable
        [sensitivity]="100"
        [orientation]="Orientation.HORIZONTAL"
        [pageResetTrigger$]="scrollResetState$"
      >
      <app-raisecard
          *ngIf="!(activeModel$ | async)?.length"
          [ngClass]="!showExpanded ? 'compact' : ''"
          (mousedown)="resetSearch($event)"
          #page
        >
        <div class="card-internal">
          <h2>No entries found here!</h2>
          <p>Click to get back to explore.</p>
        </div>
      </app-raisecard>

      <app-raisecard
          *ngFor="let entry of activeModel$ | async"
          [marker]="entry.type"
          [ngClass]="!showExpanded ? 'compact' : ''"
          (mousedown)="setSelected(entry)"
          #page
        >
        <div class="card-internal">
          <div class="description">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.subtitle }}</p>
          </div>

          <div *ngIf="showExpanded" class="info">
            <div class="meta">
              <ng-template let-stackType #stack>
                <ng-template #tooltipTemplate>
                  <h3 class="meta-title">{{ stackType.toLocaleLowerCase() + "s" }}</h3>
                  <div class="meta-icons">
                    <img
                        *ngFor="let entity of getTechStackByType(entry, stackType)"
                        [alt]="entity.identifier"
                        [src]="entity.iconUrl + '?color=%23EEEEEE'"
                      />
                  </div>
                </ng-template>

                <div i18n-position appTooltip
                    *ngIf="hasTechStack(entry, stackType)"
                    class="tech-stack"
                    [invert]="true"
                    [position]="Position.TOP"
                    [template]="tooltipTemplate"
                  >
                  <img i18n-alt
                      [alt]="stackType"
                      [src]="getTechStackImage(stackType)"
                      (mousedown)="cancelClick($event)"
                    />
                </div>
              </ng-template>

              <ng-container *ngTemplateOutlet="stack; context: { $implicit: 'LANGUAGE' }"></ng-container>
              <ng-container *ngTemplateOutlet="stack; context: { $implicit: 'FRAMEWORK' }"></ng-container>
              <ng-container *ngTemplateOutlet="stack; context: { $implicit: 'TOOL' }"></ng-container>
            </div>

            <a class="repo" [href]="entry.repository">
              <img alt="repository" [src]="repositoryIconUrl$ | async" />
            </a>

            <div class="licenses">
              <img
                  *ngFor="let license of entry.licenses"
                  alt="license-{{ license }}"
                  [src]="license.iconUrl"
                  (mousedown)="cancelClick($event)"
                />
            </div>
          </div>
        </div>
      </app-raisecard>

      <app-raisecard
          *ngIf="(activeModel$ | async)?.length"
          [ngClass]="!showExpanded ? 'compact' : ''"
          (mousedown)="resetScroll($event)"
          #page
        >
        <div class="card-internal nav-card">
          <img i18n-alt alt="⮈" id="action-icon" src="/assets/images/icons/circled-arrow.svg" />
          <h2>Back to start</h2>
        </div>
      </app-raisecard>
    </app-scrollable>
  </div>
</div>
