@use "sass:map";
@use "colors" as *;
@use "global" as *;
@use "modifiers" as *;

$theme: get-theme("showcase");
$meta-icon-size-em: 3em;
$tooltip-max-meta-icons: 4;

// TODO: Fix icons moving to next line

.meta-title {
	@include center-text;
}

.meta-icons {
	@include flex-row-evenly;

	& > img {
		margin: 0.5em;
		max-width: $meta-icon-size-em * $tooltip-max-meta-icons;
		max-height: $meta-icon-size-em;
		object-fit: scale-down;

		@include equal-dim(auto);
	}
}

:host {
	& > .content {
		position: relative;
		padding: 1em;
		text-transform: none;

		// TODO: Check if flex-wrap: nowrap isn't causing any issues using mixin
		@include center-text;
		@include flex-column-evenly;
		@include full-perc-size;
		@include no-overflow;

		& > .card-scroller {
			width: 100vw;

			@include full-viewport-width;
		}

		& .card-internal {
			@include equal-dim(100%);
			@include flex-column-around;

			&.nav-card {
				@include center-text;
				@include flex-column-evenly;

				& > #action-icon {
					@include equal-dim(4em);
				}
			}

			& > .description {
				& > h2 {
					margin: 0;
					font-size: 2.25rem;
					font-weight: 700;
				}

				& > p {
					padding: 0 2rem;
				}
			}

			& > .info {
				// TODO: Check if flex-wrap: nowrap isn't causing any issues using mixin
				@include flex-row-around;

				& > * {
					flex-basis: 0;
					flex-grow: 1;
				}

				& > .repo {
					padding: 2em;

					& > fa-icon {
						color: map.get($theme, "secondary", "hex");
						font-size: 4em;

					}
				}

				& > .licenses {
					// TODO: Check if justify-content: center is causing any issues
					@include flex-column-center;

					& > * {
						margin: 0.5em;
					}
				}

				& > .meta {
					& > .frameworks, & > .languages, & > .tools {
						& > img {
              @include equal-dim(2.25rem);
						}
					}
				}
			}
		}
	}
}
