@use "global";

$meta-icon-size-em: 3em;
$tooltip-max-meta-icons: 4;

.meta-icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	& > img {
		margin: 0.5em;
		max-width: $meta-icon-size-em * $tooltip-max-meta-icons;
		max-height: $meta-icon-size-em;
		width: auto;
		height: auto;
		object-fit: scale-down;
	}
}

:host {
	& > .content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 1em;
		width: 100%;
		height: 100%;
		overflow: hidden;
		text-transform: none;

		& .card-internal {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			padding: 1rem 0;
			width: 100%;
			height: 100%;

			&.nav-card {
				justify-content: center;
			}

			& > .description {
				& > h1.action-icon {
					font-size: 4em;
				}

				& > h2 {
					font-weight: 700;
				}

				& > p {
					padding: 0 2rem;
				}
			}

			& > .info {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;

				& > * {
					flex-basis: 0;
					flex-grow: 1;
				}

				& > .repo {
					padding: 2em;

					& > img {
						width: 4em;
						height: 4em;
					}
				}

				& > .licenses {
					display: flex;
					flex-direction: column;
					align-items: center;

					& > * {
						margin: 0.5em;
					}
				}

				& > .meta {
					& > .frameworks, & > .languages, & > .tools {
						& > img {
							width: 2.25rem;
							height: 2.25rem;
						}
					}
				}
			}
		}
	}
}
