<app-header i18n-logo i18n-alt alt="passeriform" logo="/assets/images/icons/passeriform.svg" target="/">
  <app-navtab>
    <a *appNavtab routerLink="/explore">Work</a>
    <a *appNavtab [href]="'blogUrl' | environment" target="_blank">Blog</a>
    <a *appNavtab routerLink="/about">About</a>
  </app-navtab>
</app-header>
<router-outlet></router-outlet>
<app-navigator></app-navigator>
<app-error></app-error>
<app-footer i18n-maxItemCount i18n-variant [maxItemCount]="6"></app-footer>
<app-harmonic-loader></app-harmonic-loader>
<app-tooltip [tooltipTemplate]="defaultTooltipTemplate"></app-tooltip>

<ng-template #defaultTooltipTemplate>
  <div>No content</div>
</ng-template>
