<app-footer i18n-maxItemCount i18n-variant variant="stacked" maxItemCount="6"></app-footer>
<router-outlet (activate)="onRouteChange()"></router-outlet>
<app-navigator>
</app-navigator>
<app-header i18n-logo i18n-alt alt="passeriform" logo="/assets/images/icons/passeriform.svg" target="/">
  <app-navtab>
    <a *appNavLink routerLink="/explore">Work</a>
    <a *appNavLink href="{{ 'blogUrl' | environment }}" target="_blank">Blog</a>
    <a *appNavLink routerLink="/about">About</a>
  </app-navtab>
</app-header>
<app-error></app-error>
<app-harmonic-loader></app-harmonic-loader>
<app-tooltip [tooltipTemplate]="defaultTooltipTemplate"></app-tooltip>

<ng-template #defaultTooltipTemplate>
	<div>No content</div>
</ng-template>
