@use "global";
@use "sass:math";
@use "sass:map";

@import "./app.colors";

$scrollbar-width-em: 1em;
$scrollbar-flap-size-em: 0.8em;
$scrollbar-track-width-em: 0.4em;
$scrollbar-button-text-size-em: 1em;
$scrollbar-button-height-width: 1.5 * $scrollbar-button-text-size-em + 2 * $scrollbar-flap-size-em;

::ng-deep {
	* {
		box-sizing: border-box;
		white-space: normal;
	}

	.page {
		width: 100vw;
		height: 100vh;
		overflow: auto;
		background-color: black;
	}

	::-webkit-scrollbar {
		width: $scrollbar-width-em;
	}

	::-webkit-scrollbar-thumb {
		background:
			linear-gradient(
				45deg,
				transparent 0 $scrollbar-flap-size-em,
				map.get($theme, "foreground", "hex") $scrollbar-flap-size-em calc(100% - #{$scrollbar-flap-size-em}),
				transparent calc(100% - #{$scrollbar-flap-size-em}) 100%
			);
	}

	::-webkit-scrollbar-track {
		background:
			linear-gradient(
				90deg,
				transparent 0 calc(50% - max(1%, #{math.div($scrollbar-track-width-em, 2)})),
				map.get($theme, "shadow", "hex"),
				transparent calc(50% + max(1%, #{math.div($scrollbar-track-width-em, 2)})) 100%
			);
	}

	::-webkit-resizer, ::-webkit-scrollbar-corner {
		display: none;
	}

	::-webkit-scrollbar-button:single-button {
		width: $scrollbar-button-height-width;
		height: $scrollbar-button-height-width;

		&:vertical:increment {
			background:
				url("https://img.icons8.com/ios-filled/10000/000000/chevron-down.png") center/$scrollbar-button-text-size-em no-repeat,
				linear-gradient(
					45deg,
					transparent 0 $scrollbar-flap-size-em,
					map.get($theme, "foreground", "hex") $scrollbar-flap-size-em calc(100% - #{$scrollbar-flap-size-em}),
					transparent calc(100% - #{$scrollbar-flap-size-em}) 100%
				);
		}

		&:vertical:decrement {
			background:
				url("https://img.icons8.com/ios-filled/10000/000000/chevron-up.png") center/$scrollbar-button-text-size-em no-repeat,
				linear-gradient(
					45deg,
					transparent 0 $scrollbar-flap-size-em,
					map.get($theme, "foreground", "hex") $scrollbar-flap-size-em calc(100% - #{$scrollbar-flap-size-em}),
					transparent calc(100% - #{$scrollbar-flap-size-em}) 100%
				);
		}

		&:horizontal:increment {
			background:
				url("https://img.icons8.com/ios-filled/10000/000000/chevron-right.png") center/$scrollbar-button-text-size-em no-repeat,
				linear-gradient(
					45deg,
					transparent 0 $scrollbar-flap-size-em,
					map.get($theme, "foreground", "hex") $scrollbar-flap-size-em calc(100% - #{$scrollbar-flap-size-em}),
					transparent calc(100% - #{$scrollbar-flap-size-em}) 100%
				);
		}

		&:horizontal:decrement {
			background:
				url("https://img.icons8.com/ios-filled/10000/000000/chevron-left.png") center/$scrollbar-button-text-size-em no-repeat,
				linear-gradient(
					45deg,
					transparent 0 $scrollbar-flap-size-em,
					map.get($theme, "foreground", "hex") $scrollbar-flap-size-em calc(100% - #{$scrollbar-flap-size-em}),
					transparent calc(100% - #{$scrollbar-flap-size-em}) 100%
				);
		}
	}
}
