<header hero="Passeriform" srclogo="/assets/passeriform.svg">
  <tab href="projects">Projects</tab>
  <tab href="about">About</tab>
</header>

<div id="landing" class="pages">
  <div id="bg-img"></div>

  <pivotnav srclogo="/assets/passeriform.svg" placeholder="Select Catagory">
    <p-item href="#" srclogo="/assets/passeriform.svg"></p-item>
    <p-item href="#" srclogo="/assets/passeriform.svg"></p-item>
    <p-item href="#" srclogo="/assets/passeriform.svg"></p-item>
    <p-item href="#" srclogo="/assets/passeriform.svg"></p-item>
    <p-item href="#" srclogo="/assets/passeriform.svg"></p-item>
    <p-item href="#" srclogo="/assets/passeriform.svg"></p-item>
  </pivotnav>
</div>

<div id="preview" class="pages">
  <div id="bg-img"></div>
  <!-- <tree class="tree-nav" dataURL="assets/projects.json"></tree> -->
  <!-- <raisecard-group class="card-grp">
    <card index="0">Here ya go nigga 0</card>
    <card index="1">
      <input type="text" class="form-control" />
      <button>Here ya go nigga 1</button>
    </card>
    <card index="2">Here ya go nigga 2</card>
    <card index="3">Here ya go nigga 3</card>
  </raisecard-group> -->
</div>

<script>
  const card = document.querySelector('raisecard-group');
  card.addEventListener('action', (event) => {
    console.log("Yo nigga popped in a ", ${event.focusIndex})
  })
</script>

<router-outlet></router-outlet>
