@use "global";
@use "sass:map";

@import "./update-roll.colors";

:host {
	display: grid;
	grid-gap: 0;
	max-height: 60vh;
	overflow: hidden auto;

	& > .brief {
		display: grid;
		grid-gap: 2px;
		grid-template-columns: max(4em, 10%) auto max(10em, 50%) auto auto;
		cursor: pointer;

		&:not(:first-child) {
			margin-top: -1px;
		}

		& > * {
			border: 1px solid map.get($theme, "accent", "hex");
			background-color: map.get($theme, "canvas", "hex");
		}

		& > .badge {
			border-radius: 0;
			grid-column: 1 / 1;
		}

		& > .type {
			grid-column: 2 / 2;
		}

		& > .repo {
			grid-column: 3 / 3;
			display: flex;
			flex-direction: column;
			justify-content: center;

			& > a {
				padding: 0 1em;
			}
		}

		& > .org {
			grid-column: 4 / 4;
		}

		& > .message {
			grid-column: 5 / 5;
		}
	}

	& > .details {
		display: grid;
		grid-gap: 0;
		grid-template-columns: auto auto auto;
	}
}

code.type-desc {
	color: map.get($theme, "background", "hex");
	font-size: 2em;
}
