<ng-container *ngFor="let entry of updates">
	<div class="brief" (mousedown)="toggleDetails(entry)">
		<ng-template #tooltipTemplate>
			<code class="type-desc">{{ entry.type }}</code>
		</ng-template>

		<div i18n-position appTooltip
				class="type-badge"
				[position]="Position.TOP"
				[template]="tooltipTemplate"
			>
			<app-badge [name]="entry.type"></app-badge>
		</div>

		<div class="repo">
			<a href="https://github.com/{{ entry.repo.name }}">
				<span class="repo-org">{{ (entry.repo.name | splitBy:'/')[0] }}</span>
				<span class="slash-separator"></span>
				<span class="repo-project">{{ (entry.repo.name | splitBy:'/')[1] }}</span>
			</a>
		</div>
		<div class="message">
			<p class="action-message message-text" *ngIf="entry.payload?.action"> {{ textForAction(entry.payload.action) }} </p>
			<ul class="commit-container" *ngIf="entry.payload?.commits">
				<li class="commit-message message-text" *ngFor="let commit of entry.payload.commits">
					{{ commit.message }}
				</li>
			</ul>
		</div>
	</div>

	<div class="details" [style.height]="entry.expand ? '100%' : 0">
		<!-- PushEvent -->
		<ng-container *ngIf="entry.payload?.commits; else defaultEvent">
			<div class="commit-history" *ngFor="let commit of entry.payload.commits">
				<div class="message-container">
					<p class="message" *ngIf="commit.message" [innerHtml]="commit.message | boldSpan:commitCategoryPattern"></p>
				</div>
				<div class="checksum-container">
					<a href="https://github.com/{{ entry.repo.name }}/commit/{{ commit.sha }}" class="checksum" *ngIf="commit.sha">{{ commit.sha }}</a>
				</div>
				<div class="author-container">
					<a href="https://github.com/{{ commit.author.name }}" class="author" *ngIf="commit.author.email && commit.author.name">
						<span class="author-name" *ngIf="commit.author.name">
							{{ commit.author.name}}
						</span>
						<span class="author-email" *ngIf="commit.author.email">
							{{ "<" + commit.author.email + ">" }}
						</span>
					</a>
				</div>
			</div>
			<a href="https://github.com/{{ entry.repo.name }}/tree/{{ (entry.payload.ref | splitBy:'/')[2] }}" class="event-summary">
				<p *ngIf="entry.payload.ref">
					<span class="title"><img alt="ᛅ" src="/assets/images/icons/gh-branch.webp" /></span>
					<!-- TODO: Consider using a more dynamic system in case branches contain slash -->
					{{ (entry.payload.ref | splitBy:'/')[2] }}
				</p>
				<p *ngIf="entry.payload.head">
					<span class="title"><img alt="✓" src="/assets/images/icons/gh-check.svg" /></span>
					{{ entry.payload.head }}
				</p>
			</a>
		</ng-container>

		<!-- Default -->
		<ng-template #defaultEvent>
			<div class="no-details">
				<p class="no-details-text">
					No Additional Details...
				</p>
			</div>
		</ng-template>

	</div>
</ng-container>
