<ng-container *ngFor="let entry of updates$ | async">
	<div class="brief" (mousedown)="toggleDetails(entry)" (keydown)="toggleDetails(entry)">
		<ng-template #tooltipTemplate>
			<code class="type-desc">{{ entry.type }}</code>
		</ng-template>

		<div i18n-position appTooltip
				class="type-badge"
				[position]="Position.TOP"
				[template]="tooltipTemplate"
			>
			<app-badge [name]="entry.type"></app-badge>
		</div>

		<div class="repo">
			<a href="https://github.com/{{ entry.repo.name }}">
				<span class="repo-org">{{ (entry.repo.name | splitBy:'/')[0] }}</span>
				<span class="slash-separator"></span>
				<span class="repo-project">{{ (entry.repo.name | splitBy:'/')[1] }}</span>
			</a>
		</div>
		<div class="message">
			<p *ngIf="isActionEvent(entry)" class="action-message message-text"> {{ actionPresentation[entry.payload.action] }} </p>
			<ul *ngIf="isPushEvent(entry)" class="commit-container">
				<li *ngFor="let commit of entry.payload.commits" class="commit-message message-text">
					{{ commit.message }}
				</li>
			</ul>
		</div>
	</div>

  <!-- TODO: Find a ways to remove ugly `any` casting -->
	<div class="details" [ngClass]="{'expanded': $any(entry).expand}">
		<!-- PushEvent -->
		<ng-container *ngIf="isPushEvent(entry); else defaultEvent">
			<div *ngFor="let commit of entry.payload.commits" class="commit-history">
				<div class="message-container">
					<p *ngIf="commit.message" class="message" [innerHtml]="commit.message | boldSpan:commitCategoryPattern"></p>
				</div>
				<div class="checksum-container">
					<a *ngIf="commit.sha" class="checksum" href="https://github.com/{{ entry.repo.name }}/commit/{{ commit.sha }}">{{ commit.sha }}</a>
				</div>
				<div class="author-container">
					<a *ngIf="commit.author.email && commit.author.name" class="author" href="https://github.com/{{ commit.author.name }}">
						<span *ngIf="commit.author.name" class="author-name">
							{{ commit.author.name}}
						</span>
						<span *ngIf="commit.author.email" class="author-email">
							{{ "<" + commit.author.email + ">" }}
						</span>
					</a>
				</div>
			</div>
			<a class="event-summary" href="https://github.com/{{ entry.repo.name }}/tree/{{ (entry.payload.ref | splitBy:'/')[2] }}">
				<p>
					<span class="title"><img alt="ᛅ" src="/assets/images/icons/gh-branch.webp" /></span>
					<!-- TODO: Consider using a more dynamic system in case branches contain slash -->
					{{ (entry.payload.ref | splitBy:'/')[2] }}
				</p>
				<p>
					<span class="title"><img alt="✓" src="/assets/images/icons/gh-check.svg" /></span>
					{{ entry.payload.head }}
				</p>
			</a>
		</ng-container>

		<!-- Default -->
		<ng-template #defaultEvent>
			<div class="no-details">
				<p class="no-details-text">
					No Additional Details...
				</p>
			</div>
		</ng-template>

	</div>
</ng-container>
