@use "sass:map";
@use "colors" as *;
@use "media" as *;
@use "shapes" as *;
@use "modifiers" as *;

$theme: get-theme("namecard");
$name-shape-snip-size: 1em;
$name-font-size: clamp(2.5rem, 6vw, 3rem);
$description-font-size: clamp(1em, 2vw, 1.5em);

:host {
	max-width: 60em;

	@include full-perc-size;
	@include flex-row-center;

	& > .content {
		padding: 2em;
    /* stylelint-disable-next-line unit-allowed-list -- borders can be pixel-sized */
    border: 1px solid map.get($theme, "accent", "hex");
		border-radius: 0.4em;
		background-color: map.get($theme, "background", "hex");

		@include flex-row-center;

		@include media("landscape") {
			@include flex-row-center;
		}

		@include media("portrait") {
			@include flex-column-center;
		}

		& > .content-text {
			& > .name {
				margin-bottom: 0.5em;
				padding-inline: 0.7em;
				background-color: map.get($theme, "canvas", "hex");
				color: map.get($theme, "foreground", "hex");
				font-size: $name-font-size;
				font-weight: 800;

				@include shape(["double-snipped-rectangle", "top-right-bottom-left"], $name-shape-snip-size);
			}

			& > .description {
				margin-bottom: 0;
				font-family: "DM Mono", monospace;
				font-size: $description-font-size;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 1.2;
			}
		}

		& > a.avatar {
			@include media("portrait") {
				margin-top: 1em;
				margin-bottom: 2em;
			}

			@include media("landscape") {
				margin-right: 2em;
			}

			& > img {
				filter: grayscale(1) contrast(1.3);

				@include equal-dim(12em);
				@include circle-border;
			}
		}
	}
}
