@use "sass:map";
@use "global";
@use "shapes";
@use "media" as *;

@import "./namecard.colors";

$title-clip-size: 1em;
$h1-responsive-font-size: max(2.5rem, min(6vw, 3rem));
$p-responsive-font-size: max(1em, min(2vw, 1.5em));

:host {
	display: flex;
	justify-content: center;
	margin: auto;
	width: min(80%, 60em);
	height: 100%;

	& > .content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: auto;
		padding: 2em;
		border: 1px solid map.get($theme, "accent", "hex");
		border-radius: 0.4em;
		background-color: map.get($theme, "background", "hex");

		@include media("landscape") {
			flex-direction: row;
		}

		@include media("portrait") {
			flex-direction: column;
		}

		& > .content-text {
			& > h1 {
				margin-bottom: 0.5em;
				padding-right: 0.7em;
				padding-left: 0.7em;
				background-color: map.get($theme, "canvas", "hex");
				color: map.get($theme, "foreground", "hex");
				clip-path: shapes.get-shape(["double-snipped-rectangle", "top-right-bottom-left"], $title-clip-size);
				font-size: $h1-responsive-font-size;
				font-weight: 800;
			}

			& > p {
				margin-bottom: 0;
				font-family: "DM Mono", monospace;
				font-size: $p-responsive-font-size;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 1.2;
			}
		}

		& > a.avatar {
			margin: auto;

			@include media("portrait") {
				margin-top: 1em;
				margin-bottom: 2em;
			}

			@include media("landscape") {
				margin-right: 2em;
			}

			& > img {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				filter: grayscale(1) contrast(1.3);
			}
		}
	}
}
