@import 'vars'

/* About Specific Color Scheme */
$card-background-color-hex: #050c26
$card-border-color-hex: #282f4c
$title-color-hex: #A8757D
$title-background-hex: #17061E
/* -------------------------- */

$title-clip-size: 1em

:host
  display: flex
  margin: auto
  height: 100%
  width: min(80%, 60em)
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: left

  @media (orientation: landscape)
    & .content-wrapper
      flex-direction: row

  @media (orientation: portrait)
    & > .content-wrapper
      flex-direction: column

  & > .content-text
    padding: 1em
    padding-left: 2em
    padding-right: 2em
    background-color: $card-background-color-hex
    border-radius: 1em
    border: 1px solid $card-border-color-hex

    & > h1
      color: $title-color-hex
      background-color: $title-background-hex
      clip-path: polygon(0 $title-clip-size, 0 100%, calc(100% - #{$title-clip-size}) 100%, 100% calc(100% - #{$title-clip-size}), 100% 0, $title-clip-size 0)
      padding-left: 0.7em
      padding-right: 0.7em
      font-size: $h1-responsive-font-size

    & > p
      font-family: DM Mono
      font-weight: 500
      font-size: $p-responsive-font-size
      line-height: 1.2
      letter-spacing: 0

  & > a.avatar > img
    width: 150px
    height: 150px
    border-radius: 50%
    filter: grayscale(1) contrast(1.3)

  @media (orientation: portrait)
    & > a.avatar
      margin-bottom: 5vw

  @media (orientation: landscape)
    & > a.avatar
      margin-right: 5vw

@media (orientation: landscape)
  :host
    flex-direction: row

@media (orientation: portrait)
  :host
    flex-direction: column
