@import 'vars'

:host > input
  height: 3em
  width: 80vw
  padding: 0.5em 2em
  border: 0
  color: $anti-accent-color-hex
  background-color: $accent-color-hex
  font-weight: 500
  word-wrap: break-word
  background-clip: border-box
  border-radius: $curve-threshold
