<div id="circular-menu-wrapper" class="container" (mouseleave)="removeClass($event)">
  <!-- <circular-wave wavesURL="assets/waves.json" [ngStyle]="{'position': 'absolute'}"></circular-wave> -->
  <canvas id="waves" class="wave"></canvas>
  <div id="circular-menu" class="circular-menu" (mouseenter)="addClass($event)">
    <a class="floating-btn">
      <img src={{srclogo}}/>
      <p>{{placeholder}}</p>
    </a>

    <menu class="items-wrapper">
      <ng-content></ng-content>
    </menu>
  </div>
</div>
