@use "sass:map";
@use "sass:math";
@use "global" as *;
@use "shapes" as *;
@use "modifiers" as *;
@use "media" as *;

@import "./cage-grid.colors";

$cage-grid-border-size: 0.2em;
$title-flap-size-em: 3em;
$h2-font-size-em: 1.75em;
$h2-padding-x-em: 0.5em;
$h2-padding-y-em: 0.25em;
$content-shift-x-em: 0.2em;
$content-shift-y-em: 0.2em;
$border-shift-em: $title-flap-size-em - $cage-grid-border-size;

:host {
	padding: 2em;
	width: 100%;

	@include flex-row-evenly;

	// TODO: Look for a cleaner alternative
	@include media("screen", "landscape", "<=400px") {
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;

		// TODO: Check why?
		&::-webkit-scrollbar {
			width: 0;

			@include no-bg;
		}

		& > * {
			flex-shrink: 0;
		}
	}

	& > * {
		flex-grow: 1;
		margin: 1em;

		@include no-bg;

		& > .title {
			position: relative;
			z-index: 1;
			margin-bottom: -3em;
			text-transform: capitalize;
			// TODO: Add a nowrap mixin with white-space and word-wrap
			white-space: nowrap;

			@include no-overflow;

			& > h2 {
				// TODO: Check if this is even required or does block suffice
				display: inline-block;
				margin: 0;
				padding: $h2-padding-y-em $h2-padding-x-em;
				padding-right: $h2-padding-x-em + (math.div($title-flap-size-em, 2));
				background-color: map.get($theme, "background", "hex");
				color: map.get($theme, "foreground", "hex");
				font-size: $h2-font-size-em;

				@include shape(["snipped-rectangle", "top-left"], math.div($title-flap-size-em, 2) + $h2-padding-y-em);
			}
		}

		& > .content {
			position: relative;
			top: $content-shift-y-em;
			left: $content-shift-x-em;
			padding: 2em;
			border: $cage-grid-size solid map.get($theme, "canvas", "hex");

			@include no-bg;
			@include shape(
				["border-with-label", "top-left"],
				(
					"flap-base-x": 30%,
					"flap-base-y": $content-shift-y-em + $title-flap-size-em,
					"border-shift": $border-shift-em,
				)
			);
		}
	}
}
