@use "global";

@import "modifiers";

$sweep-padding: 0.5em;
$font-size: max(3vw, 1.25em);
$window-height: calc(#{global.$line-height-px} + (2 * #{$sweep-padding}));

:host {
	font-family: "Fira Code", monospace;
	font-size: $font-size;
	text-transform: none;

	& > * {
		display: inline-block;
		float: left;
	}

	& > span {
		margin: 0.5em;
		@include disallow-selection;
	}
}

#sweep-window {
	padding: $sweep-padding;
	height: $window-height;
	overflow-y: hidden;
}

#sweep-container {
	transition: all ease-in-out 0.5s;

	&::ng-deep > * {
		margin: 0;
		padding: $sweep-padding;
	}
}
