@use "global";
@use "sass:map";
@use "sass:math";

@import "./navtab.colors";

/* Check once */
$nav-ul-height: math.div(global.$header-size, 2);

:host {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: calc(100% - #{global.$header-size});
	height: 100%;
	transition: all 0.5s ease;

	& ::ng-deep ul {
		display: flex;
		flex-flow: row nowrap;
		align-content: flex-end;
		justify-content: flex-start;
		margin: 0;
		padding: #{math.div(($nav-ul-height - 1em), 4)} 5%;
		overflow: hidden;
		list-style: none;
		transition: all 0.5s ease;

		&:not(.shrink-navtab) {
			@media screen and (max-width: 28em) {
				flex-direction: column;

				& > li {
					text-align: center;

					& > a {
						color: map.get($theme, "accent", "hex");

						&:before {
							top: 0;
							z-index: -1;
							width: 100%;
							height: 2.5em;
							visibility: visible;
							transform: scaleX(0.05);
							transform-origin: left;
							background-color: complement(map.get($theme, "background", "hex"));
							mix-blend-mode: difference;
						}
					}

					&:hover > a {
						color: map.get($theme, "accent", "hex");
					}
				}
			}
		}

		& > li {
			position: relative;
			display: inline-block;
			padding: 1em 2em;
			cursor: pointer;
			transition: all 0.5s ease;

			& > a {
				color: map.get($theme, "accent", "hex");
				font-weight: 500;
				text-decoration: none;
				text-transform: uppercase;
				transition: all 0.5s ease;

				&:before {
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 60%;
					height: 2px;
					visibility: hidden;
					transform: scaleX(0);
					background-color: map.get($theme, "background", "hex");
					transition: all 0.5s ease;
				}

				&:hover {
					color: map.get($theme, "background", "hex");

					&:before {
						visibility: visible;
						transform: scaleX(1);
					}
				}
			}

			&:hover > a {
				color: map.get($theme, "background", "hex");

				&:before {
					visibility: visible;
					transform: scaleX(1);
				}
			}
		}

		&.shrink-navtab {
			padding: 0;

			& > li {
				padding: 1em;

				& > a {
					color: map.get($theme, "accent", "hex");

					&:before {
						top: 0;
						bottom: 0;
						width: 80%;
						height: 2em;
						background-color: mix(white, map.get($theme, "accent", "hex"), 100%);
						color: map.get($theme, "background", "hex");
						mix-blend-mode: difference;
					}
				}
			}

			& > li:hover > a:before {
				border: 1px solid map.get($theme, "accent", "hex");
				background-color: mix(black, map.get($theme, "background", "hex"), 100%);
			}
		}
	}

	&.logo-shrink-fix {
		min-width: calc(100% - #{global.$shrink-header-size});
	}
}
