main {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
}

div.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-items: start;
    justify-content: center;
}

section>* {
    flex-grow: 1;
}

.nameCardText {
    font-family: var(--heading);
    font-weight: 600;
}