.main {
    display: flex;
    place-items: center;
    height: inherit;
    max-width: 100%;
}

.hero {
    width: 20vw;
    padding: 1rem;
    position: fixed;
    left: 0;
}

.about {
    padding: 4rem;
    padding-left: 20vw;
}

.social {
    position: fixed;
    right: 0;
}
