@import 'vars'
@import 'colors'

$theme: generateColorSwatch($highlight: #ADFF22, $shadow: #0000000F)

*
  scrollbar-color: map-deep-get($global-colors, "scrollbar", "thumb") map-deep-get($global-colors, "scrollbar", "track")
  scrollbar-width: thin

html > body
  font-family: Raleway, sans-serif
  font-size: 13px
  font-weight: 400
  line-height: $line-height-px
  letter-spacing: 1px
  text-shadow: 1px 1px 1px map-deep-get($theme, "shadow", "hex")
  color: map-deep-get($theme, "accent", "hex")
  list-style: none

  height: 100vh
  width: 100vw
  overflow: hidden
  margin: 0

  code
    color: map-deep-get($theme, "highlight", "hex")
    font-family: 'DM Mono', monospace
