@use "sass:math";
@use "sass:map";
@use "global" as *;
@use "modifiers" as *;
@use "colors" as *;

$theme: get-theme("global");
$scrollbar-theme: get-theme("scrollbar");

/// CSS Variables
:root {
  --shrink-header-size-em: #{$shrink-header-size-em};

	/* --------- Shared values (Only for safe nulling) --------- */
	--apparent-viewport-height: 100vh;
	--tooltip-left: 0;
	--tooltip-top: 0;

  @include full-perc-size;
}

* {
	box-sizing: border-box;
	white-space: normal;
	scrollbar-color: map.get($scrollbar-theme, "primary", "hex") map.get($scrollbar-theme, "secondary", "hex");
	scrollbar-width: thin;

  &:focus-visible {
    outline: none;
    /* stylelint-disable-next-line unit-allowed-list -- box-shadow can be pixel-size */
    box-shadow: 0 0 1px 1px lime;
  }
}

input[type="submit"] {
  cursor: pointer;
}

html, body {
	position: relative;

	@include no-overflow;
	@include full-viewport-size;
}

html, body, input, select, textarea {
	color: map.get($theme, "accent", "hex");
	font-family: "Raleway", sans-serif;
  /* stylelint-disable-next-line unit-allowed-list -- font-size must be pixel-sized */
	font-size: 13px;
	font-weight: 400;
  /* stylelint-disable-next-line unit-allowed-list -- letter-spacing must be pixel-sized */
	letter-spacing: 1px;
  /* stylelint-disable-next-line unit-allowed-list -- text-shadow can be pixel-sized */
	text-shadow: 1px 1px 1px map.get($theme, "shadow", "hex");
}

html > body {
	@include full-perc-size;
	@include no-overflow;
	@include reset-offsets;
}

code {
	color: map.get($theme, "highlight", "hex");
	font-family: "DM Mono", monospace;
}

input, textarea {
	outline: none;
}

:focus {
	outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
	padding: 0 0.5em;
	border-radius: 0.4em;
	box-shadow: 0 0 0.5em 0.05em black inset;
	background: map.get($theme, "background", "hex");

	&::before, &::after {
		content: none;
	}
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
	background: map.get($theme, "background", "invert", "hex");
	color: map.get($theme, "foreground", "invert", "hex");
}

::-webkit-scrollbar {
	width: $scrollbar-thickness-em;
	height: $scrollbar-thickness-em;
}

::-webkit-scrollbar-thumb {
	background:
		linear-gradient(
			45deg,
			transparent 0 $scrollbar-flap-size-em,
			map.get($theme, "foreground", "hex") $scrollbar-flap-size-em calc(100% - #{$scrollbar-flap-size-em}),
			transparent calc(100% - #{$scrollbar-flap-size-em}) 100%
		);
}

::-webkit-scrollbar-track {
	background:
		linear-gradient(
			90deg,
			transparent 0 calc(50% - max(1%, #{math.div($scrollbar-track-width-em, 2)})),
			map.get($theme, "shadow", "hex"),
			transparent calc(50% + max(1%, #{math.div($scrollbar-track-width-em, 2)})) 100%
			transparent,
			($scrollbar-gradient-from, $scrollbar-gradient-to, map.get($theme, "shadow", "hex")),
		);
}

::-webkit-resizer, ::-webkit-scrollbar-corner {
	display: none;
}
