<div class="content">
  <app-cage-grid>
    <div *ngFor="let attrib of model | keyvalue">
      <ng-container *ngIf="attrib.value.length">
        <div *appCaged="attrib.key" class="model-attr">
          <ul>
            <li *ngFor="let elem of attrib.value">
              <ng-template #tooltipTemplate>
                <div class="techstack-tooltip-content">
                  <h5>{{ (elem | wiki | async)?.title }}</h5>
                  <p>
                    {{ (elem | wiki | async)?.description }}
                  </p>
                  <a href="{{ (elem | wiki | async)?.href }}"></a>
                </div>
              </ng-template>

              <div i18n-position appTooltip
                  position="bottom"
                  [template]="tooltipTemplate"
                >
                <img alt="{{ elem }}" src="{{ elem | iconUri }}" />
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </app-cage-grid>
</div>
