@use "modifiers" as *;

:host {
	& .model-attr {
		& > ul {
			align-items: center;

			@include flex-row-evenly;
			// TODO: Check if this can be done in styles.scss for all ul elements
			@include full-perc-size;
			@include reset-offsets;

			& > li {
				padding: 1em;

				& > .img-container {
					height: 4em;

					& > img {
						@include full-perc-size;
					}
				}
			}
		}
	}
}

.techstack-tooltip-content {
	& p {
		text-transform: capitalize;
	}
}
