@use "global";
@use "sass:math";

:host {
	& > .content {
		position: relative;
		width: 100vw;

		& .model-attr {
			& > ul {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-evenly;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;

				& > li {
					padding: 1em;
				}

				& img {
					max-width: 12em;
					max-height: 4em;
					width: auto;
					height: auto;
				}
			}
		}
	}
}

.techstack-tooltip-content {
	& p {
		text-transform: capitalize;
	}
}
