@use "sass:map";
@use "colors" as *;
@use "modifiers" as *;
@use "shapes" as *;

$theme: get-theme("tech-stack");

:host {
	& .model-attr {
		& > ul {
			align-items: center;

			@include flex-row-evenly;
			// TODO: Check if this can be done in styles.scss for all ul elements
			@include full-perc-size;
			@include reset-offsets;

			& > li {
				padding: 1em;

				& > .img-container {
					height: 4em;

					& > img {
						@include full-perc-size;
					}
				}
			}
		}
	}
}

.techstack-tooltip-loading {
	padding: 1em 2em;
}

.techstack-tooltip-content {
	text-decoration: none;

	& > * {
		padding: 1em 2em;
	}

	& > h5 {
		background-color: map.get($theme, "background", "hex");
		color: map.get($theme, "foreground", "hex");

		@include shape(["skewed-pentagon", "bottom"], ("first": 85%, "second": 75%, "peak-shift": 15%));
	}

	& > p {
		color: map.get($theme, "foreground", "invert", "hex");
		text-transform: capitalize;
	}
}
