@import 'vars'

$tooltip-window-width-em: 20em
$tooltip-window-height-em: 20em
$tooltip-arrow-width-em: 1em
$tooltip-arrow-height-em: 1em

:host
  display: inline-block
  position: absolute
  width: 0
  height: 0
  visibility: hidden
  opacity: 0
  transition: all 0.5s ease
  z-index: 10

  &.top

    & > .tooltip-internal
      bottom: 3.5em

      &::after
        top: 100%

  &.bottom

    & > .tooltip-internal
      top: 3.5em

      &::after
        top: 0%

  & > .tooltip-internal
    position: absolute
    width: $tooltip-window-width-em
    padding: 1em 2em
    color: $anti-accent-color-hex
    background-color: $accent-color-hex
    box-sizing: border-box
    transform: translateX(-50%)

    &::after
      content: ''
      position: absolute
      width: $tooltip-arrow-width-em
      height: $tooltip-arrow-height-em
      left: 50%
      margin-left: -#{$tooltip-arrow-width-em / 2}
      margin-top: -#{$tooltip-arrow-width-em / 2}
      transform: rotate(45deg)
      background-color: $accent-color-hex

    &.inverted
      color: $accent-color-hex
      background-color: $anti-accent-color-hex

      &::after
        background-color: $anti-accent-color-hex

  &.show
    visibility: visible
    opacity: 1
