:host
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap

  & > *
    padding: 1em 2em

  & img
    width: 2em
    height: 2em
    filter: invert(1)

    &.inverted
      filter: invert(0)
